<h1>About Property Rental</h1>

<p>This app is created to allow renters to look for houses at ease where they can rent and recide quickly. Its also easy because the renters will look for a house of best choice with regards to his/her place of work and also his/her earnings.</p>

{{#link-to 'contact'}}Click Here to Contact Us.{{/link-to}}
