<p>Property Rental would like to assit potential renters to find rental roms for themselves at ease. In case of any issue or burning question please dont hold it any more be free to ask.</p>

<p>Contact Us Now!</p>

<p>
  Property Rental Headquarters<br>
  P.O.BOX 565-00100<br>
  NAIROBI.
</p>

<p>+254 723975263</p>

<p>[email gmchana254@gmail.com]</p>
